body{
    background-color: honeydew;
}
header{
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.685);
}
footer{
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    position: relative;
    bottom: 0%;
    text-align: center;
}
#navigate{
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 1;
}
.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-menu {
    background-color: lightgray;
}

.main-menu > li {
    display: inline-block;
}

.main-menu > li > a {
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: white;
}

.main-menu > li > a:hover {
    background-color: black;
}

.item-with-sub-menu {
    position: relative;
}

/* we need to hide this initially */
.sub-menu {
    display: none;
    position: absolute;
    top: 35px; /* from the top of the .item-with-sub-menu element */
    left: 0px;
    white-space: nowrap;
    padding: 1em;
    background-color: lightgray;
}

/* modify the selector so that it selects the sub-menu only when it is within the ..item-with-sub-menu item that is being hovered upon */
.item-with-sub-menu:hover .sub-menu {
    display: block;
}
